/* CSSのリセット（消さないでください） */
html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div {
  margin: 0;
  padding: 0;
}

body {
  font-family: Meiryo;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

/* All */
.container{
  width: 100%
  margin: 0 auto;
}

/* Header */
header{
  width: 100%;
  height: 35px;
  padding: 20px 0;
  background-color: white;
  position: fixed;
  top: 0;
  z-index: 10;
}

.header-left{
  float: left;
  position: absolute;
  top: 15px;
  left: 40px;
}

.header-left img{
  width: 128px;
  float: left;
  margin-right: 10px;
}

.header-left p{
  font-size: 12px;
  font-weight: 600;
  color: #333333;
  float: left;
  line-height: 60px;
}

.header-right{
  float: right;
  position: absolute;
  top: 25px;
  right: 60px;
}

.form-btn{
  color: white;
  font-size: 14px;
  font-weight: 300;
  background-color: #DA6B64;
  border-radius: 20px;
  padding: 10px 40px;
  cursor: pointer;
}

.form-btn:hover{
  background-color: #CF4139;
}

/* Top */
.top-wrapper{
  width: 100%;
  height: 500px;
  text-align: center;
  background-image: url("isara_images/main.jpg");
  background-size: cover;
}

.title{
  padding-top: 100px;
}

.title h1{
  font-size: 28px;
  margin-bottom: 10px;
}

.title p{
  font-size: 20px;
  font-weight: 600;
}

.title img{
  width: 317px;
  margin-bottom: 20px;
}

/* Claim */
.claim-wrapper{
  width: 100%;
  height: 600px;
  background-color: #EBB94D;
  text-align: center;
  padding-top: 30px;
}

.claim-wrapper p{
  color: white;
  font-size: 20px;
  font-weight: 600;
}

.caution{
  display: table;
  margin: 15px auto 0 auto;
  color: #C7254E !important;
  background-color: #F9F2F4;
  border-radius: 5px;
}

.large-form-btn{
  font-size: 28px;
  font-weight: 600;
  display: inline-block;
  width: 80%;
  padding: 30px 0 30px 0;
  margin: 50px 0 70px 0;
  border-radius: 50px;
}

.claim-txt2 p{
  margin-bottom: 30px;
}

.sns-btn-wrapper{
  font-size: 11px;
  color: white;
}

.sns-btn{
  display: inline-block;
  height: 15px;
  padding: 3px;
  border-radius: 3px;
}

.twitter-btn{
  width: 60px;
  color: white;
  background-color: #1B95E0;
}

.twitter-btn:hover{
  background-color: #1578B1;
}

.facebook-btn{
  width: 60px;
  color: white;
  background-color: #4267B2;
  font-weight: bold;
}

.facebook-btn:hover{
  background-color: #335088;
}

.share-btn{
  width: 35px;
}

/* Introduction */
.introduction-wrapper{
  width: 100%;
  height: 600px;
  text-align: center;
  background-image: url("isara_images/introbottom.jpg");
  background-size: cover;
}

.introduction-title{
  height: 40px;
  margin-top: 50px;
  margin-bottom: 40px;
}

.wrapper-title{
  width: 80%;
  padding: 30px 0;
  display: inline-block;
  position: relative;
}

.wrapper-title h1{
  font-size: 28px;
  text-align: center;
}

.wrapper-title::before{
  position: absolute;
  top: 0;
  left: 70px;
  content: "";
  width: 50px;
  height: 50px;
  border-top: 4px solid #EBB94D;
  border-left: 4px solid #EBB94D;
}

.wrapper-title::after{
  position: absolute;
  bottom: 0;
  right: 70px;
  content: "";
  width: 50px;
  height: 50px;
  border-bottom: 4px solid #EBB94D;
  border-right: 4px solid #EBB94D;
}

.introduction-contents p{
  font-size: 20px;
  letter-spacing: 3px;
}

.introduction-content{
  margin-bottom: 20px;
}

.introduction-emphasis{
  font-weight: bold;
  border-bottom: 10px solid #EBB94D;
}

/* About-isara */
.about-isara-wrapper{
  width: 100%;
  height: 650px;
  text-align: center;
  background-color: #FEF5E0;
}

.about-circle{
  position: relative;
  top: -40px;
}

.circle{
  width: 80px;
  height: 80px;
  line-height: 80px;
  display: inline-block;
  text-align: center;
  color: white;
  background-color: #EBB94D;
  border-radius: 50%;
}

.about-title{
  margin-bottom: 30px;
}

.about-fiveskills{
  width: 90%;
  height: 180px;
  padding: 30px;
  margin: 30px auto 0 auto;
  border: 2px solid #EBB94D;
  border-radius: 5px;
  background-color: white;
}

.about-p{
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 3px;
}

.fiveskills{
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

.about-skill p{
  font-size: 12px;
  margin: 0 15px;
}

/* iSara-step */
.isara-step-wrapper{
  width: 100%;
  height: 360px;
  padding: 60px 0 30px 0;
  text-align: center;
  background-image: url("isara_images/aboutsecondbg.jpg");
  background-size: cover;
}

.step-title-wrapper h1{
  margin-bottom: 20px;
  color: white;
}

.step-title-wrapper p{
  margin-bottom: 15px;
  color: white;
  font-size: 20px;
  font-weight: bold;
}

.step-title-wrapper span{
  color: #EBB94D;
}

.step-box-wrapper{
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.step-box{
  width: 370px;
  height: 120px;
  padding: 30px 0;
  margin: 0 10px;
  background-color: white;
  border-radius: 5px;
}

.step-box h3{
  width: 320px;
  margin-bottom: 30px;
  border-radius: 5px;
  display: inline-block;
  text-align: center;
  color: white;
  background-color: #EBB94D;
}

.step-box h4{
  margin-bottom: 15px;
}

.step-box p{
  font-weight: bold;
}

/* Except-skill */
.except-skill-wrapper{
  width: 100%;
  height: 60px;
  padding: 40px 0;
  background-color: #016EA9;
}

.except-skill-wrapper p{
  color: white;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.except-skill-wrapper span{
  color: #EBB94D;
}

/* Learn-from-isara */
.learn-from-isara-wrapper{
  width: 100%;
  height: 400px;
  padding: 70px 0 50px 0;
}

.learn-from-isara-wrapper h1{
  margin-bottom: 50px;
  font-size: 28px;
  text-align: center;
}

.learn-from-isara-wrapper span{
  font-size: 16px;
  text-align: center;
}

.learn-from-isara-wrapper h2{
  font-size: 20px;
  font-weight: normal;
  text-align: center;
}

.learn-from-isara-wrapper p{
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

.isara-skill-box{
  margin: 40px 0;
  text-align: center;
}

.isara-skill-box img{
  height: 180px;
  margin: 0 20px;
}

/* isara-merit */
.isara-merit-wrapper{
  width: 100%;
  height: 920px;
  padding: 30px 0 50px 0;
  text-align: center;
  background-color: #FEF5E0;
}

.isara-merit-box{
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.isara-merit{
  width: 360px;
  margin: 0 15px;
}

.isara-merit img{
  width: 360px;
  height: 180px;
}

.isara-merit h3{
  color: #EBB94D;
  font-size: 20px;
  text-align: left;
}

.isara-merit p{
  font-size: 16px;
  display: inline-block;
  text-align: center;
  margin-top: 10px;
}

.after-support-box{
  width: 1170px;
  height: 160px;
  padding: 50px 0;
  margin: 50px auto 40px auto;
  border: 2px solid #EBB94D;
  background-color: white;
}

.after-support-box h1{
  font-size: 28px;
  color: #EBB94D;
  margin-bottom: 15px;
}

.after-support-box h2{
  font-size: 20px;
  margin-bottom: 10px;
}

.after-support-box p{
  font-size: 16px;
  font-weight: bold;
}

.after-support-caution{
  font-size: 14px;
  display: inline-block;
  width: 1100px;
}

/* Founding-member */
.founding-member-wrapper{
  width: 100%;
  height: 1290px;
  padding: 80px 0 30px 0;
  text-align: center;
  background-image: url("isara_images/teacherbg.jpg");
  background-size: cover;
  color: white;
}

.founding-member-title h1{
  font-size: 28px;
  margin-bottom: 30px;
}

.founding-member-title p{
  font-size: 16px;
  font-weight: bold;
}

.founding-member-box{
  width: 820px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.founding-member{
  width: 45%;
  height: 550px;
  margin: 30px 15px 0 15px;
}

.founding-member img{
  border-radius: 50%;
  position: relative;
  top: 35px;
}

.founding-member-profile{
  width: 370px;
  height: 350px;
  padding: 40px 50px 0 50px;
  box-sizing: border-box;
  border: 3px solid white;
}

.founding-member-profile p{
  font-size: 16px;
}

/* Earn-enable */
.earn-enable-wrapper{
  width: 100%;
  height: 1350px;
  text-align: center;
}

.earn-enable-title-box{
  width: 100%;
  height: 270px;
  padding: 40px 0;
  box-sizing: border-box;
  background-color: #EBB94D;
  position: relative;
}

.earn-enable-title-box::after{
  content: "";
  width: 0;
  height: 0;
  border: 25px solid transparent;
  border-top-color: #EBB94D;
  position: absolute;
  top: 100%;
  left: 50%;
}

.qa{
  margin: 0 auto;
  display: block;
  color: #EBB94D;
  background-color: white;
}

.earn-enable-title{
  padding: 15px 0;
  color: white;
}

.earn-enable-title::before{
  border-top: 4px solid white;
  border-left: 4px solid white;
}

.earn-enable-title::after{
  border-bottom: 4px solid white;
  border-right: 4px solid white;
}

.earn-enable-reason-title{
  margin-top: 40px;
}

.earn-enable-reason-title h2{
  margin-bottom: 15px;
  font-size: 28px;
}

.earn-enable-reason-title h3{
  margin-bottom: 40px;
  font-size: 16px;
}

.earn-enable-reason-title p{
  font-size: 14px;
}

.earn-enable-reason-content-box{
  margin-top: 30px;
}

.earn-enable-reason-content{
  width: 780px;
  height: 240px;
  margin: 0 auto 40px auto;
  display: flex;
  flex-wrap: wrap;
}

.earn-enable-reason-content img{
  width: 240px;
  height: 240px;
  border: 2px solid #EBB94D;
}

.earn-enable-reason-txt{
  width: 500px;
  height: 240px;
  padding: 20px 0 0 30px;
  box-sizing: border-box;
}

.earn-enable-reason-txt h5{
  margin-bottom: 10px;
  font-size: 18px;
  color: #777777;
  font-weight: normal;
  text-align: left;
}

.earn-enable-reason-txt p{
  font-size: 15px;
  color: #777777;
  font-weight: normal;
  text-align: left;
}

.earn-enable-reason-txt span{
  font-style: oblique;
}

.under-line{
  text-decoration: underline;
}

/* Learn-conent */
.learn-contents-wrapper{
  width: 100%;
  height: 800px;
  padding-top: 60px;
  box-sizing: border-box;
  text-align: center;
  background-image: url("isara_images/classbg.jpg");
  background-size: cover;
}

.learn-contents-title h1{
  color: white;
}

.learn-contents-title p{
  color: white;
}

.learn-contents-boxes{
  width: 810px;
  height: 550px;
  margin: 40px auto 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.contents-box{
  width: 370px;
  margin: 0 15px;
  border: 2px solid #016EA9;
  border-radius: 5px;
}

.contents-box h2{
  width: 370px;
  height: 60px;
  display: inline-block;
  font-size: 20px;
  line-height: 60px;
  color: white;
  background-color: #016EA9;
}

.contents-box p{
  width: 370px;
  height: 50px;
  display: inline-block;
  font-size: 16px;
  line-height: 55px;
  font-weight: bold;
  background-color: white;
  border-bottom: 1px dotted #E5E5E5;
}

.learn-contents-box1{
  height: 540px;
}

.learn-contents-box2{
  height: 350px;
}

/* Forever-support */
.forever-support-wrapper{
  width: 100%;
  height: 150px;
  padding: 40px 0;
  box-sizing: border-box;
  background-color: #016EA9;
}

.forever-support-txt{
  text-align: center;
}

.forever-support-txt p{
  font-size: 20px;
  font-weight: bold;
  color: white;
}

/* Lecture-flow */
.lecture-flow-wrapper{
  width: 100%;
  height: 1820px;
  padding-top: 60px;
  box-sizing: border-box;
  text-align: center;
}

.lecture-main{
  margin-bottom: 40px;
}

.lecture-main h1{
  font-size: 28px;
}

.lecture-main img{
  margin-top: 60px;
}

.lecture-flow-box{
  margin: 0 auto;
}

.lecture-flow{
  width: 90%;
  height: 230px;
  padding: 40px 35px 40px 70px;
  margin: 0 auto;
  box-sizing: border-box;
  background-color: #FEF5E0;
  display: flex;
  flex-wrap: wrap;
}

.before-unit{
  height: 250px;
}

.flight{
  height: 200px;
}

.real-work{
  height: 250px;
}

.support{
  height: 220px;
}

.lecture-flow-left p{
  font-size: 18px;
  font-weight: bold;
}

.lecture-flow-right{
  width: 80%;
  padding-left: 40px;
  box-sizing: border-box;
  text-align: left;
}

.lecture-flow-right p{
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 15px;
}

.lecture-flow-right span{
  font-size: 14px;
  font-weight: normal;
}

.flow-root-upper{
  width: 760px;
  height: 30px;
  margin: 0 auto;
  border-left: 2px solid #F6C14A;
  border-right: 2px solid #F6C14A;
  border-bottom: 2px solid #F6C14A;
}

.flow-root-lower{
  width: 760px;
  height: 30px;
  margin: 0 auto;
  border-left: 2px solid #F6C14A;
  border-right: 2px solid #F6C14A;
}

.left{
  border-right: 2px solid transparent;
}

.right{
  border-left: 2px solid transparent;
}

/* Why-bangkok */
.why-bangkok-wrapper{
  width: 100%;
  height: 500px;
  background-image: url("isara_images/bangkokbg.jpg");
  background-size: cover;
}

.why-bangkok{
  width: 100%;
  height: 500px;
  padding: 100px 0 100px 100px;
  box-sizing: border-box;
}

.why-bangkok h1{
  margin-bottom: 30px;
  font-size: 24px;
  color: white;
}

.why-bangkok p{
  margin-bottom: 25px;
  font-size: 14px;
  color: white;
}

.why-bangkok ul{
  margin-bottom: 30px;
}

.why-bangkok li{
  margin-bottom: 15px;
  font-size: 16px;
  font-weight: bold;
  color: white;
}

.why-bangkok h2{
  font-size: 20px;
  color: white;
}

/* isara-present */
.isara-present-wrapper{
  width: 100%;
  height: 700px;
  padding: 60px 0 40px 0;
  box-sizing: border-box;
  text-align: center;
  background-color: #F7C23C;
}

.isara-present-title h1{
  margin-bottom: 40px;
}

.isara-present-title p{
  font-size: 16px;
  font-weight: bold;
}

.isara-present-title span{
  color: white;
}

.benefit-box{
  width: 90%;
  height: 360px;
  padding: 50px 0px;
  margin: 140px auto 0 auto;
  box-sizing: border-box;
  border: 2px solid white;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.benefit-title{
  width: 50%;
  height: 90px;
  background-color: #F7C23C;
  position: absolute;
  top: -25%;
  left: 25%;
}

.benefit-title h1{
  font-size: 28px;
}

.benefit{
  width: 250px;
  height: 250px;
  margin: 0 5%;
  border-radius: 50%;
  background-color: white;
  position: relative;
}

.benefit h2{
  font-size: 24px;
  font-weight: normal;
  color: #F7C23C;
  position: absolute;
  top: 20%;
  left: 37%;
}

.benefit p{
  width: 230px;
  font-size: 14px;
  font-weight: bold;
  display: inline-block;
  position: absolute;
  top: 40%;
  left: 10px;
}

/* isara-purpose */
.isara-purpose-wrapper{
  width: 100%;
  height: 530px;
  padding: 60px 0 80px 0;
  box-sizing: border-box;
  text-align: center;
  background-image: url("isara_images/specialdetail.jpg");
  background-size: cover;
}

.isara-purpose-txt{
  color: white;
}

.isara-purpose-txt h2{
  margin-bottom: 30px;
  font-size: 28px;
}

.isara-purpose-txt p{
  font-size: 20px;
  font-weight: bold;
}

.purpose-title{
  padding: 10px 0;
  margin: 40px 0 20px 0;
}

.purpose-title::before{
  border-top: 4px solid white;
  border-left: 4px solid white;
}

.purpose-title::after{
  border-bottom: 4px solid white;
  border-right: 4px solid white;
}

/* Founder-message */
.founder-message-wrapper{
  width: 100%;
  height: 625px;
  padding: 60px 0 90px 0;
  box-sizing: border-box;
  text-align: center;
}

.founder-message-title h1{
  font-size: 28px;
  margin-bottom: 40px;
}

.founder-message-title h2{
  font-size: 20px;
  margin-bottom: 40px;
}

.founder-message-box{
  width: 70%;
  height: 330px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.founder-message-box img{
  width: 190px;
  height: 140px;
  margin-right: 30px;
}

.founder-message{
  width: 70%;
  text-align: left;
}

.founder-message p{
  margin-bottom: 15px;
}

.bullet{
  margin: 30px 0 !important;
}

/* form-wrapper */
.form-wrapper{
  width: 100%;
  height: 740px;
  padding-top: 60px;
  box-sizing: border-box;
  text-align: center;
  background-color: #EBB94D;
}

.form-title h1{
  margin-bottom: 30px;
}

.form-title p{
  margin-bottom: 30px;
}

.form-main{
  text-align: center;
}

.input-box{
  width: 760px;
  height: 60px;
  margin: 0 auto 20px auto;
  display: block;
  border: 1px solid white;
  border-radius: 5px;
}

.question-box{
  width: 760px;
  margin: 20px auto 40px auto;
  border: 1px solid white;
  border-radius: 5px;
}

.submit-button{
  width: 760px;
  height: 60px;
  margin: 0 auto;
  display: block;
  border: 1px solid #DA6B64;
  border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
  color: white;
  background-color: #DA6B64;
}

/* FAQ */
.faq-wrapper{
  width: 100%;
  height: 1230px;
  padding: 60px 0 0 0;
  box-sizing: border-box;
  text-align: center;
}

.faq-wrapper h1{
  font-size: 28px;
}

.faq-box{
  margin-top: 40px;
}

.faq-question{
  width: 75%;
  height: 60px;
  padding-left: 20px;
  margin: 0 auto 10px auto;
  box-sizing: border-box;
  border: 1px solid #E5E5E5;
  border-radius: 2px;
  text-align: left;
  position: relative;
  cursor: pointer;
}

.faq-question p{
  font-size: 20px;
  font-weight: 600;
  line-height: 60px;
}

.fa-chevron-down, .fa-chevron-up{
  position: absolute;
  top: 35%;
  right: 20px;
  color: #E5E5E5;
}

.fa-chevron-up{
  display: none;
}

.faq-open{

}

.faq-answer{
  width: 75%;
  padding: 20px;
  margin: 0 auto;
  box-sizing: border-box;
  text-align: left;
  display: none;
}

.faq-answer p{
  font-size: 16px;
  font-weight: 600;
}

.fa-question-circle{
  color: #016EA9;
}

/* Footer */
footer{
  width: 100%;
  height: 180px;
  padding: 30px 0 20px 0;
  box-sizing: border-box;
  text-align: center;
  background-color: #ECECEC;
}

footer p{
  font-size: 10px;
  font-weight: 300;
  font-style: normal;
}

.sns-btn-box{
  margin: 10px auto 30px auto;
    font-size: 11px;
    color: white;
}
